<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('layout/head.ejs'); %>
</head>
<body>
    <%- include('layout/navigation.ejs'); %>

    <div class="content" id="swup">    
        <h2 class="error-icon"><i class="las la-exclamation-triangle"></i></h2>        
        <h2 class="error-title">Impossible d'accéder à cette page</h2>
        <p class="error-text">Vous ne disposez pas des autorisations requises pour effectuer cette action !</p>
       
    </div>
    <!-- Import de suwp et navbar js -->
    <script src="/js/main.js"></script>
</body>
</html>